rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{address} {
      allow read: if request.auth != null && request.auth.uid == address;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
